* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none;  margin: 0px; padding: 0px}

body{
	font-size: 14px;
	line-height: 1.6;	
	color: #666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;		
}

