* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none;  margin: 0px; padding: 0px}

html{
	font-size:100%;
	min-width:20rem;
	@media(max-width: 900px){
		font-size:85%;
	}
	@media(max-width: 500px){
		font-size:75%;
	}
}

body{
	@include fontSize(18px);
	line-height: 1.618em;	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-family: $primary-font;	
}

