//	Headings

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
 font-weight: 900;
 font-family: $secondary-font;
 line-height:1.313em;
}

.gigantic{
  
}

.huge, h1{
	font-size:4.3em;

}

.large, h2{
  font-size: 2.6em

}

.bigger, h3{
	font-size: 1.11em
}

.big, h4 {
  
}

.small, small {
  
}


// Basic Text Style

p{  
  font-family: $primary-font;
}

em{
  
}

strong{
  
}

hr{
  
}
