//
// Add whatever variables you would like
//

// Colors





// font

$primary-font:  'Montserrat', sans-serif;
$secondary-font: 'Biryani', sans-serif;

 
//mixins
@mixin outer-container{
  max-width:75rem; // 1200px
  width: 100%;
  margin:0 auto;
}
.zone{
	@include outer-container;
	width:100%;
	margin: 0 auto;
	@include clearfix;
	@media (max-width: 80.625rem){
		padding: 0 2rem;
	}
	@media (max-width: 37.5rem){
		padding: 0 1.5rem;
	}
}

// Device Breakpoint Definitions
$mobile: new-breakpoint(min-width 320px max-width 480px);
$tablet: new-breakpoint(min-width 768px max-width 1024px);


// Content Device Breakpoint Definitions

