footer.footer_section(role="contentinfo")
	.zone 
		.region-left
			h3 Download
			a(href="#"): img(src="/assets/img/appstore.png")
			a(href="#"): img(src="/assets/img/googleplay.png")
		.region-middle
			h3 Social
			a(href="#"): img(src="/assets/img/pinterest.png")
			a(href="#"): img(src="/assets/img/twitter.png")
			a(href="#"): img(src="/assets/img/facebook.png")
			a(href="#"): img(src="/assets/img/instagram.png")
		.region-right
			h3 Awards
			img(src="/assets/img/w3.png")
			img(src="/assets/img/gd.png")
			img(src="/assets/img/gd.png")