footer.footer_section(role="contentinfo")
	.zone 
		.region-left
			h3 Download
			a(href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8"): img(src="/assets/img/appstore.png")
			a(href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy"): img(src="/assets/img/googleplay.png")
			span.copyright Copyright © 2016 Woozy Labs
		.region-middle.social
			h3 Social
			a(href="https://www.pinterest.com/woozylabs/"): img.pinterest(src="/assets/img/pinterest.png")
			a(href="https://twitter.com/WoozyLabs"): img.twitter(src="/assets/img/twitter.png")
			a(href="https://www.facebook.com/pages/Woozy-Labs/394275827412969"): img.facebook(src="/assets/img/facebook.png")
			a(href="#"): img.instagram(src="/assets/img/instagram.png")
		.region-right
			h3 Awards
			img(src="/assets/img/award-1.png")
			img(src="/assets/img/award-2.png")
			img(src="/assets/img/award-3.png")