footer(role="contentinfo")
	.zone 
		.region-left
			h3 Download
			img(src="/assets/img/ios.png")
			img(src="/assets/img/google.png")
		.region-middle
			h3 Social
			img(src="/assets/img/pinterest.png")
			img(src="/assets/img/twitter.png")
			img(src="/assets/img/facebook.png")
			img(src="/assets/img/instagram.png")
		.region-right
			h3 Awards
			img(src="/assets/img/w3.png")
			img(src="/assets/img/gd.png")
			img(src="/assets/img/gd.png")