section.free_section(role="region")
	.zone
		.region-left
			img.bike(src="/assets/img/svg/line-art-4.svg")
		.region-middle
			h2 Best of all<strong>, it's free.<strong>
			a(href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8" target="_blank"): img.apple(src="/assets/img/appstore.png")
			a(href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy" target="_blank"): img.google(src="/assets/img/googleplay-new.png")
		.region-right
			img.cloud(src="/assets/img/svg/line-art-5.svg")