header(role="banner")
	.zone
		.logo-title
			img.logo(src="/assets/img/svg/logo.svg")

		nav(role="navigation")
			ul
				li: a(href="#" style="color:#000") Home
				li: a(href="#" style="color:#000") About
				li: a(href="#" style="color:#000") Blog

			a.download(href="#") Download

		img.mobileMenu(src="/assets/img/mobileMenu.png")
		div(style="clear:both")
		h1 Do you Woozy?

		.report
			img.listeria(src="/assets/img/listeria.png")
			img.report(src="/assets/img/report.png")
			img.flu(src="/assets/img/flu.png")
