header(role="banner")
	.wrap
	.zone
		.logo-title
			a(href="http://woozylabs.com"): img.logo(src="/assets/img/svg/logo.svg" alt="Woozy Logo")

		nav(role="navigation")
			ul
				li.current-menu-item: a(href="http://woozylabs.com") Home
				//li: a(href="#") About
				li: a(href="http://blog.woozylabs.com/") Blog

			//a.download(href="#") Download

		img.mobileMenu(src="/assets/img/svg/menu.svg")
		div(style="clear:both")
		.intro
			h1.woozy Be Better Together With Woozy
			p Your real-time community health resource for sickness trends, recall alerts, and sickness symptoms. All in one place.
			a(href="https://itunes.apple.com/kn/app/woozy-labs-unite-against-germs/id969894256?mt=8" target="blank"): img.apple(src="/assets/img/apple.png" alt="Woozy IOS Download")
			a(href="http://play.google.com/store/apps/details?id=com.metrostarsystems.woozy" target="blank"): img.android(src="/assets/img/android.png" alt="Woozy Google Download")
	img.down(src="/assets/img/down-arrow.png" alt="Woozy Quick navigation")


