header(role="banner")
	.zone
		.logo-title
			img.logo(src="/assets/img/svg/logo.svg")

		nav(role="navigation")
			ul
				li.current-menu-item: a(href="#") Home
				li: a(href="#") About
				li: a(href="#") Blog

			a.download(href="#") Download

		img.mobileMenu(src="/assets/img/mobileMenu.png")
		div(style="clear:both")
		h1.woozy Do you Woozy?

		.report
			

			img.listeria(src="/assets/img/header-graphic-left.png")
			img.phones(src="/assets/img/phones.png")
			//include flu.html
			img.recall(src="/assets/img/header-graphic-right.png")
