section.lab_section(role="region")
	.zone
		.region-left.left-side
			h2 Sickness Symptoms &amp; Remedies
			p Learn about the common symptoms and treatments of reported sicknesses
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-c.svg" alt="Sickness Symptoms and Remedies")