section.lab_section(role="region")
	.zone
		.region-left.left-side
			h2 Find Sickness Symptoms &amp; Remedies
			p Learn about the contagious periods and common symptoms of reported sicknesses. 
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-c.svg")