section.lab_section(role="region")
	.zone
		.region-left.left-side
			h2 Find sickness symptoms and remedies
			p Recieve notifications when someone at your school, gym, or city reports sick.
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-c.svg")