section.recall_section(role="region")
	.zone
		.region-left.left-side
			h2 Receive food and drug recalls
			p Recieve notifications when someone at your school, gym, or city reports sick.
			//a(href="#") Call to action >>
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-b.svg")
			
