section.report_section(role="region") 
	.zone
		.region-left.left-side
			h2 Track and Report Sicknesses
			p Receive real-time notifications when someone at your school, work, or community reports sick.
			//a(href="#") Call to action >>
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-b.svg" alt="Track and Report Sicknesses")
			
