script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="assets/js/jquery.lazylinepainter-1.7.0.min.js")
script(src="assets/js/tweenmax.min.js")
script(src="assets/js/svgdata.js")
script(src="assets/js/custom.js")