section.team_section(role="region")
	.zone
		h2 Our Team
		.team_members
			.member
				img(src="/assets/img/team-kat.png")
				p.name Kat Manouchehri
				p.title Co-Founder
			.member
				img(src="/assets/img/team-debbie.png")
				p.name Debbie Peterson
				p.title Co-Founder
			.member
				img(src="/assets/img/team-allie.png")
				p.name Allie Kohr
				p.title Co-Founder
