section.team_section(role="region")
	.zone
		h2 Our Team
		.team_members
			.member
				img(src="/assets/img/team-kat.png" alt="Co-Founder - Kat Manouchehri")
				p.name Kat Manouchehri
				p.title Co-Founder
			.member
				img(src="/assets/img/team-debbie.png" alt="Co-Founder - Debbie Peterson")
				p.name Debbie Peterson
				p.title Co-Founder
			.member
				img(src="/assets/img/team-allie.png" alt="Co-Founder - Allie Kohr")
				p.name Allie Kohr
				p.title Co-Founder
