section.what_section(role="region")
	.zone
		.region-left.left-side
			h2 What is Woozy
			img.what(src="/assets/img/header-graphic-left.png")
		.region-right

			.snippet
				img(src="/assets/img/svg/track.svg")
				.blurb
					h3 Track Sickness
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/svg/recalls.svg")
				.blurb
					h3 Recieve Recalls
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/svg/learn.svg")
				.blurb
					h3 Learn about Diseases
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

