section.what_section(role="region")
	.zone
		.region-left.left-side
			h2 Track and report sicknesses
			p Recieve notifications when someone at your school, gym, or city reports sick.
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphicA.svg")
			
