section.what_section(role="region")
	.zone
		.region-left.left-side
			h2 Receive Food &amp; Drug Recalls
			p Know if your favorite products have been recalled for contamination before you buy.
		.region-right
			.report-section
				img.phone-report(src="/assets/img/svg/graphic-a.svg" alt="Food and Drug Recalls")
			
