section.who_section(role="region")
	.zone
		.region-left.left-side
			h2 Who Woozies?
			img.what(src="/assets/img/header-graphic-left.png")

		.region-right

			.snippet
				img(src="/assets/img/svg/parents.svg")
				.blurb
					h3 Parents
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/svg/teachers.svg")
				.blurb
					h3 Teachers
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/svg/schooladmin.svg")
				.blurb
					h3 School Administrators
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

