section(role="region")
	.zone
		.region-left
			h2 Who Woozies
		.region-right

			.snippet
				img(src="/assets/img/track.png")
				.blurb
					h3 Parents
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/recalls.png")
				.blurb
					h3 Teachers
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

			.snippet
				img(src="/assets/img/diseases.png")
				.blurb
					h3 School Administrators
					p According to the research firm Frost &amp; Sullivan. the estimated size of the North

