footer.footer_section{
	padding: 3.5em 0;
	background: $tundora;
	.zone{
		@media (max-width:900px){
			display: flex;
			flex-direction: column;
		}
		h3{
			margin-bottom:0.83em;
			color: $white;
			@media (max-width:500px){
				text-align: center;
			}
		}
		.region-left{
			@include span-columns(4);
			position:relative;
			padding-left: 3em;
			padding-right:1em;
			@media (max-width:900px){
				@include span-columns(12);
				order:3;	
				padding-left:0;
			}
			@media (max-width:500px){
				text-align: center;
			}
			.copyright{
				@include fontSize(18px);
				font-weight:300;
				color:$silver-chalice;
				margin-top: 1.5625rem;
				display: block;
			}
			img{
				display: block;
				margin-bottom: 0.83em;
				@media (max-width:900px){
					display: inline-block;
					margin-right: 0.83em;
				}
			}
			&:after{
				content:'';
				display: block;
				position: absolute;
				width: 0.0625rem;
				height: 14rem;
				border: solid 1px #464646;
				top:0.3125rem;
				right:0.3125rem;
				@media (max-width:900px){
					display: none;
				}
			}
		}
		.region-middle{
			@include span-columns(4);
			padding-left: 3em;
			position:relative;
			@media (max-width:900px){
				@include span-columns(12);
				margin-bottom: 1.25rem;
				padding: 0; 
			}
			@media (max-width:500px){
				text-align: center; 
			}
			img{
				display: inline-block;
				margin-right:0.1875rem;
			}
			&:after{
				content:'';
				display: block;
				position: absolute;
				width: 0.0625rem;
				height: 14rem;
				border: solid 1px #464646;
				top:0.3125rem;
				right:0.3125rem;
				@media (max-width:900px){
					display: none;
				}
			}
		}
		.region-right{
			@include span-columns(4);
			padding-left: 3em;
			@media (max-width:900px){ 
				@include span-columns(12);
				margin-bottom: 1.25rem;
				padding: 0;
			}
			@media (max-width:500px){
				text-align: center; 
			}
			img{
				display: inline-block;
				margin-right: 0.625rem;
				@media (max-width:500px){
					width: 4.05938rem;
				}
			} 			
		}
	}
}