section.free_section{

	.zone{
		display: flex;
		justify-content: space-around; 
		align-items: flex-end;

		.region-left{
			@media (max-width: 430px){
				display: none;
			}
			img{
				display: block;
			}
		}
		.region-middle{
			align-self:center;
			text-align: center;
			h2{
				@include fontSize(60px);
				font-weight: 300;
				margin-bottom: 2.9875rem;
				@media (max-width: 750px){
					@include fontSize(44px);
				}
				@media (max-width: 680px){
					margin-bottom: 1.9875rem;
				}
			}
			img{
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
		.region-right{
			@media (max-width: 430px){
				display: none;
			}
			img{
				display: block;
			}
		}
	}
}