header{
	 background: url(/assets/img/header-grp-full.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  @media (max-width: 750px){
			background-position: 72% 75%;
  }
  .wrap{
  	
  	@media (min-width: 1740px){
			height: 100px;
			background:rgba(0,0,0,0.2);
			width: 100%;
			position:absolute;
			top:0;
		}
  }
	.logo-title{
		float: left;
		margin:1.5625rem 0 0;
		@media (min-width: 108.75rem){
			position:relative;
			z-index: 500;
		}
		.logo{
			width: 10.9375rem;		
			@media (max-width: 31.25rem){
				width: 8.375rem;
			}
		}
	}
	nav{
		float: right;
		margin:2.80625rem 0 0;
		@media (min-width: 108.75rem){
			position:relative;
			z-index: 500;
		}
		@include fontSize(18px);
		ul{
			float: left;
			li{
				display: inline-block;
				padding: 0 1.65625rem 0;
				&.current-menu-item{					
					a{
						opacity: 1;
						border-bottom:2px solid $white;
					}
				}
				a{
					color: $white;
					font-weight:bold;
					opacity: 0.67;
					&:hover{
						opacity: 1;
					}
				}
			}
		} 
		&> a{
			color:$white;
			float: right;
			margin:0 2.25rem;
			font-weight: bold;
			background: $burnt-sienna;
			padding:0.4875rem 1.7125rem;
			border-radius:100px;
			position:relative;
			top:-10px;
		}
		@media (max-width:56.25rem){
			display: none;
		}
	}
	.mobileMenu{
		display: none;
		float: right;
		margin:1.75rem 0;
		cursor: pointer;
		@media (max-width:56.25rem){
			display: block;
		}
		@media (max-width: 31.25rem){
			width: 3.3125rem;
			margin:2rem 0;
		}
	}
	img.down{
		position:absolute;		
		left: 50%;
  	bottom: 0%;
  	transform: translate(-50%, 50%);
  	cursor: pointer;
  	@media (max-width: 900px){
				display: none;
  	}
	}
	.intro{
		@include span-columns(7);
		margin-left: 4.375rem;
		padding:0 0 116px 0;
		@media (max-width: 1124px){
			margin-left: 0;
		}
		@media (max-width: 500px){
			padding:0 0 3.4375rem 0;
		}		
			h1{
			margin: 1.5em 0 0.15em;
			letter-spacing: -0.5px;
			color:$white;
			line-height: 1.0em;
			@media (max-width: 750px){
				font-size: 2.3em;
			}
			@media (max-width: 500px){
				font-size: 1.4em;
				margin: 1.5em 0 0.50em;
			}
			span{
				font-weight: 400;
			}	
		}
		p{
			font-size: 1.30em;
			font-weight: 300;
			color: $white;
			letter-spacing: 0.1px;
			margin-bottom: 2.5625rem;
			font-family: $secondary-font;
			@media (max-width: 750px){
			display: none;
			}			
		}
		img{
			&.apple{
				margin-right: 0.96875rem;
				@media (max-width: 750px){
				width: 1.625rem;
				}
			}
			&.android{
				@media(max-width: 750px){
				width: 1.625rem;
				}
			}
		}
	}
}