section.what_section{
	
	.zone{
		//display: flex;
		//justify-content: space-around;
		padding-bottom:8.2875rem;
		padding-top:8.2875rem;
		@media (max-width: 680px){
		 display: block;
		}
		.region-left{
			@include span-columns(5);
			clear: both;
			padding:8.2875rem 0 0;
			margin-left: 4.375rem;
			@media (max-width: 1200px){
				@include span-columns(12);
				padding:0;
				margin:0;
			}
			&.left-side{
				
		    img.what{
		    	width: 264px;
		    }
			}
			h2{
				position:relative;
				font-weight: 400;
				font-size: 2.9375rem;
				line-height: 3.3125rem;
				margin-bottom: 1.64375rem;
				@media (max-width: 56.25rem){
					padding-top:1.5rem;
				}
				@media (max-width: 1200px){
					text-align: center;
					margin-bottom: 20px;
					padding:0px;
				}
			}
			p{
				font-size: 1.20em;
				font-weight: 300;
				letter-spacing: 0.1px;
				margin-bottom: 2.5625rem;
				@media (max-width: 1200px){
					text-align: center;
				}
			}
		}
		.region-right{
			@include span-columns(9);
			float: right;
			clear: both;

			margin-top: -200px;
			@media (max-width: 1200px){
				@include span-columns(12);
				margin:0;
				padding:0;
			}
			.report-section{
				//background: url(/assets/img/svg/graphic-a.svg) no-repeat;	 			
				//height: 488px;
				position:relative;
				margin-top: -200px;
				@media (max-width: 1200px){
				margin-top: 0px;
				width: 80%;
				margin:0 auto;

				}
				//display: flex;
			//	justify-content: center;
			}
		}
	}
}