section.what_section{
	padding:8.2875rem 0;
	.zone{
		display: flex;
		justify-content: space-around;
		.region-left{
			@include span-columns(4);
			h2{
				text-transform: uppercase;
			}
		}
		.region-right{
			@include span-columns(7);
			.snippet{
				display: flex;
				margin-bottom: 4.04375rem; // 64.7px
				.blurb{
					margin-left: 5.39375rem;
					align-self: center; 
				}
			}
		}
	}
}