doctype
html(lang="en")
	head
		title Woozy | Unite Against Germs
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="keywords", content="Woozy,report,track,share,report,game,sick,flu,health,community,illness,sickness,cough,WoozyLabs")
		meta(name="description", content="Woozy is a community-based flu and germ tracker. Unite with others in your community to submit anonymous germ reports that are collected in our state-of-the-art Invasion Station.")
		meta(name="apple-itunes-app", content="app-id=969894256")
		link(rel="stylesheet", href="assets/css/main.css")
		include partials/google.html
	body
		include partials/mobileNav_section
		include partials/header_section
		main(role="main")
			include partials/recall_section
			include partials/report_section
			include partials/lab_section
			include partials/free_section
			include partials/team_section
			include partials/blog_section
			//include partials/who_section
			include partials/contact_section
		include partials/footer_section
	include partials/scripts